<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyVault{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block css %}{% endblock %}
</head>

<body>

<header>

<div class="logo">
🔐 MyVault
</div>

<nav>

<a href="/">Home</a>

<a href="/login">Login</a>

<a href="/register">Register</a>

</nav>

</header>

<main>

{% block content %}

{% endblock %}

</main>

<footer>

<p>
© 2026 MyVault. All Rights Reserved.
</p>

</footer>

{% block js %}{% endblock %}

</body>
</html>